# Dependencies
node_modules/
.serverless/
package-lock.json

# Environment
.env*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*

# Serverless
.serverless
serverless.env.yml